# Q0: import dash standard libraries

In [4]:
import dash
from dash import Dash, dcc, html, Input, Output
from jupyter_dash import JupyterDash
import warnings
warnings.filterwarnings('ignore')

import dash_bootstrap_components as dbc
from jupyter_dash import JupyterDash
from dash import html
import plotly.graph_objs as go

# Q1: Make dash that prints "Data Science"

In [2]:
app = JupyterDash(
    __name__,
    external_stylesheets=[dbc.themes.SPACELAB, dbc.icons.BOOTSTRAP]
)

card = dbc.Card(
     dbc.CardBody(
         [
             html.H1("Data Science"),
         ],
     ),
     className="text-center m-4 bg-gray text-black",
 )

app.layout=dbc.Container(card)

if __name__ == '__main__':
    app.run_server()

Dash app running on http://127.0.0.1:8050/

# Q2: Make dash that takes name input and outpt "Welcome to Data Science dashboard {name}"

In [1]:
name = input("Enter your name: ")
print(f"Welcome to the Data Science dashboard, {name}!")

Enter your name:  Nada

Welcome to the Data Science dashboard, Nada!

# Q3: Make Plotly-Dash that takes two inputs (numbers) and output 3 numbers x, y , z= x+y
- hint: use html.Div, dcc.Input(type='number')

In [2]:
app = dash.Dash(__name__)

app.layout = html.Div([
    html.H1("Sum Calculator"),
    
    html.Label("first number:"),
    dcc.Input(id="input-x", type="number", value=0),
    
    html.Label("second number:"),
    dcc.Input(id="input-y", type="number", value=0),
    
    html.Div(id="output-z")
])

@app.callback(
    Output("output-z", "children"),
    [Input("input-x", "value"), Input("input-y", "value")]
)
def update_output(x, y):
    z = x + y
    return f"x: {x}, y: {y}, z: {z}"

if __name__ == '__main__':
    app.run_server(debug=True)

# Q4.1: Make JubyterDash with Rangeslider from 1-15 with 6 option

In [3]:
app = JupyterDash('Test')

app.layout = html.Div([
    html.Label('Choose from RangeSlider'),
    
    dcc.RangeSlider(1, 15, 1, value=[9, 3], id='my-range-slider'),
     
    html.Div(id='output-container-range-slider')
])

if __name__ == '__main__':
    app.run_server()

Dash app running on http://127.0.0.1:8050/

# Q4.2: add to the previous dash: Label, set default value on rangeslider as 7-10

In [2]:
app = JupyterDash('Test')

app.layout = html.Div([
    html.Label('Choose from RangeSlider'),
    
    dcc.RangeSlider(1, 15, 1, value=[10, 7], id='my-range-slider'),
     
    html.Div(id='output-container-range-slider')
])

if __name__ == '__main__':
    app.run_server()

Dash app running on http://127.0.0.1:8050/

# Q5: Make 3 different Dcc types (Dropdown - Checkbox...) in one dash

In [5]:
app = dash.Dash(__name__)

app.layout = html.Div([
    html.H1("(Dropdown - Checkbox...)"),
    
    html.Label("Dropdown:"),
    dcc.Dropdown(
        options=[
            {'label': ' 1', 'value': '1'},
            {'label': ' 2', 'value': '2'},
            {'label': '3', 'value': '3'}
        ],
        value='option1',
        id='dropdown'
    ),
    
    html.Label("Checkbox:"),
    
    html.Label("Radio Items:"),
    dcc.RadioItems(
        options=[
            {'label': 'Radio 1', 'value': 'radio1'},
            {'label': 'Radio 2', 'value': 'radio2'},
            {'label': 'Radio 3', 'value': 'radio3'}
        ],
        value='radio1',
        id='radio'
    ),
    
    html.Div(id='output')
])

@app.callback(
    Output('output', 'children'),
    [Input('dropdown', 'value'), Input('checkbox', 'values'), Input('radio', 'value')]
)
def update_output(dropdown_value, checkbox_values, radio_value):
    return f"Dropdown: {dropdown_value}, Checkbox: {', '.join(checkbox_values)}, Radio: {radio_value}"

if __name__ == '__main__':
    app.run_server(debug=True)

# Q6: Make Plotly chart, then add it to a plotly_dash

In [2]:
import plotly.express as px

In [6]:
app = dash.Dash(__name__)

scatter_fig = px.scatter(x=[1, 2, 3, 4, 5], y=[5, 4, 3, 2, 1], title="Scatter Plot")

app.layout = html.Div([
    html.H1("Plotly Chart in Plotly Dash"),
    
    dcc.Graph(figure=scatter_fig, id='scatter-plot'),

    html.Div(id='output')
])

@app.callback(
    Output('output', 'children'),
    [Input('scatter-plot', 'selectedData')]
)
def update_output(selected_data):
    return f"Selected Data: {selected_data}"

if __name__ == '__main__':
    app.run_server(debug=True)

# Q7: From our data make plotly-dash with suitble chart, and Dropdown.

- Dropdown should contain at least 3 options, each one represents different column.
- Add label to dropdown.
- The chart data should change depending on the selected dropdown option.

In [2]:
import pandas as pd
df = pd.read_csv("titanic.csv")
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [11]:

app = dash.Dash(__name__)

df = pd.read_csv('titanic.csv')

scatter_fig = go.Figure()

app.layout = html.Div([
    html.H1("Plotly-Dash with Dropdown "),
    
    html.Label("Select a column to display on the chart:"),
    
    dcc.Dropdown(
        id='column-dropdown',
        options=[
            {'label': 'Age', 'value': 'Age'},
            {'label': 'Fare', 'value': 'Fare'},
            {'label': 'Pclass', 'value': 'Pclass'},
        ],
        value='Age'  
    ),
    
    dcc.Graph(figure=scatter_fig, id='scatter-plot'),
])


@app.callback(
    Output('scatter-plot', 'figure'),
    Input('column-dropdown', 'value')
)
def update_chart(selected_column):
    scatter_fig = go.Figure(data=[go.Scatter(x=df[selected_column], y=df['Survived'], mode='markers')])
    scatter_fig.update_layout(
        title=f"Scatter Plot of 'Survived' vs. {selected_column}",
        xaxis_title=selected_column,
        yaxis_title='Survived'
    )
    return scatter_fig

if __name__ == '__main__':
    app.run_server(debug=True)

In [8]:
import plotly.express as px

# Q8: add 2 more charts to the prevoius Ploty-Dash

In [9]:

app = dash.Dash(__name__)

df = pd.read_csv('titanic.csv')

bar_fig = px.bar(df, x='Pclass', y='Fare', title="Average Fare by Passenger Class")

line_fig = px.line(df, x='Age', y='Fare', title="Fare by Age")

app.layout = html.Div([
    html.H1("Plotly-Dash with Multiple Charts"),
    
    html.Label("Select a chart type:"),
    
    dcc.Dropdown(
        id='chart-dropdown',
        options=[
            {'label': 'Bar Chart', 'value': 'bar'},
            {'label': 'Line Chart', 'value': 'line'},
        ],
        value='bar'  
    ),
    
    dcc.Graph(figure=bar_fig, id='bar-chart'),
    dcc.Graph(figure=line_fig, id='line-chart'),
])

@app.callback(
    Output('bar-chart', 'figure'),
    Output('line-chart', 'figure'),
    Input('chart-dropdown', 'value')
)
def update_chart(selected_chart):
    if selected_chart == 'bar':
        return bar_fig, None
    elif selected_chart == 'line':
        return None, line_fig

if __name__ == '__main__':
    app.run_server(debug=True)

# Q9: Search for "Plotly Gallery" and fetch for a graph and use it with our data.

- Note: You need to put the resourse addres of fetched your grapth.

In [14]:
app = dash.Dash(__name__)

x_data = [1, 2, 3, 4, 5]
y_data = [5, 4, 3, 2, 1]

trace = go.Scatter(
    x=x_data,  
    y=y_data,  
    mode='lines+markers',
    name='Line Plot'
)

layout = go.Layout(
    title='Modified Line Plot',
    xaxis=dict(title='X-axis'),
    yaxis=dict(title='Y-axis')
)

figure = go.Figure(data=[trace], layout=layout)

app.layout = html.Div([
    html.H1("Customized Plotly Graph"),
    
    dcc.Graph(figure=figure)  
])

if __name__ == '__main__':
    app.run_server(debug=True)

# Challenge 1.1: Create Plotly dash with two charts depends on different columns of the data
- First Chart : Pie
- Secound Chart: is by your Choice ( Not Pie )

# Challenge 1.2: Make Hovering over a slice of the pie changes the data for the second chart depending on what the slice is.